body {
  padding: 0px 35px;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  margin-top: 20px;
  font-weight: 100;
  background: -webkit-repeating-linear-gradient(160deg, black, white 55px, lightgrey 60px);
  background: -moz-repeating-linear-gradient(160deg, black, white 55px, lightgrey 60px);
  background: -ms-repeating-linear-gradient(160deg, black, white 55px, lightgrey 60px);
  background: repeating-linear-gradient(290deg, black, white 55px, lightgrey 60px);
}

header * {
  font-weight: inherit;
}

header:after {
  content: " ";
  display: block;
  clear: both;
}

.header-contents {
  padding-right: 20px;
  background-color: white;
}

h1 {
  font-size: 47px;
}

.nequation {
  position: relative;
  white-space: nowrap;
}

.neq {
  float: left;
  transform: rotate(90deg) translateY(-0.09em);
  margin-left: -0.2em;
}

.header-contents {
  float: left;
}

.contents-nav {
  margin: 20px 0px;
}

.contents-nav * {
  font-size: 26px;
}

.contents-nav:after {
  content: " ";
  display: block;
  clear: both;
}

.nav-head {
  float: left;
  margin: 0;
}

.nav-list {
  float: left;
  list-style: "/";
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.main-head {
  font-size: 26px;
  font-weight: 100;
}
